@using OnlineShopModels.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using OnlineShopModels.Models.Enums
@model List<Item>

@{
    ViewData["Title"] = "";
    Category category = ViewBag.Category == null? new Category() {Name = CategoryName.Unknown} : ViewBag.Category; 
}

<div id="containerItemCategory">

    <div id="categoryPath" class="gridItemItemCategory">
        @if (ViewBag.Category != null)
        {
            <h2>@ViewBag.Category.Name</h2> <!-- it must be Category object. Also it is the last of SubCategories chain -->
        }
        else
        {
            <h2>Search</h2>
        }
        
        
        <div id="CategoryPathLinks">
            <!-- display generalized category. category -> category.SubCategory -> category.Subcategory.Subcategory  -->
            <a href="">Category</a>
            <a href="">SubCategory</a>
        </div>
    </div>


    @switch (category.Name)
    {
        case CategoryName.Electronics:
            @(await Html.PartialAsync("Partial/ItemElectronics/_ItemElectronicsCharacteristicsPartial", category))
            break;
        case CategoryName.Sport:
            @(await Html.PartialAsync("Partial/ItemSport/_ItemSportCharacteristicsPartial", category))
            break;
        case CategoryName.Clothes:
            @(await Html.PartialAsync("Partial/ItemClothes/_ItemClothesCharacteristicsPartial", category))
            break;
        case CategoryName.Decorations:
            @(await Html.PartialAsync("Partial/ItemDecorations/_ItemDecorationsCharacteristicsPartial", category))
            break;
        default:
            @(await Html.PartialAsync("Partial/ItemGeneral/_ItemGeneralCharacteristicsPartial")) 
            break;
    }
    
 
    

    <div id="containerItems" class="gridItemItemCategory">

        @foreach (var item in Model)
        {
            <div class="item">
                <a asp-controller="Item" asp-action="ItemPage" asp-route-itemId="@item.Id">
                    <img src=@item.Photos.FirstOrDefault(p => p.IsMain)?.Link alt="@item.Name"/>
                    <div class="itemInfoContainer">
                        <h4>@item.Name</h4>
                        <h6 class="shortDescriptionItem">@item.Description</h6>
                        <img class="itemRatingIconCategory" src="~/Icons/ItemRatingIcons/5st.png" alt="rating"/>
                        <h4>@item.Price</h4>
                    </div>
                </a>
            </div>
        }
    </div>

</div>

