@model List<ItemWebModel>

@{
    ViewData["Title"] = "";
}

<div id="containerItemCategory">

    <div id="categoryPath" class="gridItemItemCategory">
        <h2>@ViewBag.Category</h2> <!-- it must be Category object. Also it is the last of SubCategories -->
        <div id="CategoryPathLinks">
            <!-- display generalized category. category -> category.SubCategory -> category.Subcategory.Subcategory  -->
            <a href="">Category</a>
            <a href="">SubCategory</a>
        </div>
    </div>

    <div id="containerItemCharacteristics" class="gridItemItemCategory">

    </div>

    <div id="containerItems" class="gridItemItemCategory">

        @foreach (var item in Model)
        {
            <div class="item">
                <a asp-controller="Item" asp-action="ItemPage" asp-route-itemId="@item.Id">
                    <img src=@item.Photos.FirstOrDefault()?.Link alt="@item.Name"/>
                    <div class="itemInfoContainer">
                        <h4>@item.Name</h4>
                        <h6 class="shortDescriptionItem">@item.Description</h6>
                        <img src="~/Icons/ItemRatingIcons/5st.png" alt="rating"/>
                        <h4>10000</h4>
                    </div>
                </a>
            </div>
        }
    </div>

</div>

